@model List<Cozy_Cuisine.Models.Credit>
@{
    ViewData["Title"] = "Credits";
}

<div class="cont3 container-fluid credits-container position-relative overflow-hidden pt-5">
    
    <img src="~/img/preping.png" alt="Alternate Text" class="bg-img position-absolute w-100 h-100" />

    <div class="container p-5 text-center position-relative z-1">
        <div class="tttitle display-6 my-5">
            CREDITS
        </div>


        @foreach (var credit in Model)
        {
            <div class="my-3">
                <span class="membername fs-4">@credit.Name</span>
                <span class="memberrole fs-4">@credit.Role</span>
            </div>
        }
        @* <div class="my-3">
            <span class="membername fs-4">Joshua Cornelia</span>
            <span class="memberrole fs-4">Project Manager</span>
        </div>
        <div class="my-3">
            <span class="membername fs-4">Joan Balaca</span>
            <span class="memberrole fs-4">Game Developer</span>
        </div>
        <div class="my-3">
            <span class="membername fs-4">Alyssa Jhane Burce</span>
            <span class="memberrole fs-4">Quality Assurance</span>
        </div>
        <div class="my-3">
            <span class="membername fs-4">Khate Leen Joyce David</span>
            <span class="memberrole fs-4">Front-End Developer</span>
        </div>
        <div class="my-3">
            <span class="membername fs-4">Renz Niño Baladjay</span>
            <span class="memberrole fs-4">Back-End Developer</span>
        </div>
        <div class="my-3">
            <span class="membername fs-4">Jimmuel Desipolo</span>
            <span class="memberrole fs-4">Full-Stack Developer</span>
        </div>
        <div class="my-3">
            <span class="membername fs-4">Ma. Cristina Velasco</span>
            <span class="memberrole fs-4">UI/UX Designer</span>
        </div> *@
    </div>
</div>

