@{
    ViewData["Title"] = "Wiki";
}

<!--wikigame items-->
<div class="cont3 container-fluid p-5 mt-5">
    <div class="container">
                <div class="container mt-4">
                    <ul class="recentnavtabs nav nav-tabs fs-4" id="myTab" role="tablist">
                        <li class="nav-item me-2" role="presentation">
                            <button class="recenttabs nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab">Food</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="recenttabs nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab">Ingredients</button>
                        </li>

                    </ul>
                    <div class="tabcont tab-content" id="myTabContent">
                        <!--food-->
                        <div class="tab-pane fade show active p-4" id="tab1" role="tabpanel">
                            <div class="tuttabtitle fs-4">
                                TUTORIALS
                            </div>
                    <div class="tutcontt py-3 px-5 my-3">
                                <div>
                                    <img src="~/img/preping.png" class="tutimg img-fluid" alt="Alternate Text" />
                                </div>
                                <div class="p-5">
                                    <div class="tuttitle fs-3">
                                        How to Cook
                                    </div>
                                    <div class="tutdescrip fs-3">
                                        Gather ingredients, drag them to the craft slot, and auto-create meals.
                                    </div>
                                </div>
                            </div>
                    <div class="tutcontt py-3 px-5 my-3">
                        <div>
                            <img src="~/img/preping.png" class="tutimg img-fluid" alt="Alternate Text" />
                        </div>
                        <div class="p-5">
                            <div class="tuttitle fs-3">
                                How to Serve
                            </div>
                            <div class="tutdescrip fs-3">
                                Click the customer to hand them their crafted dish.
                            </div>
                        </div>
                    </div>
                    <div class="tutcontt py-3 px-5 my-3">
                        <div>
                            <img src="~/img/preping.png" class="tutimg img-fluid" alt="Alternate Text" />
                        </div>
                        <div class="p-5">
                            <div class="tuttitle fs-3">
                                How to CookHow to Customize
                            </div>
                            <div class="tutdescrip fs-3">
                                Use tokens to change kiosk colors, add decor, and unlock new clothing.
                            </div>
                        </div>
                    </div>
                            
                        </div>

                        <!--ingredients-->
                        <div class="tab-pane fade p-4" id="tab2" role="tabpanel">
                            <div class="titletabb fs-3">
                                Ingredients
                            </div>
                            <div class="meals row mb-3">
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                            </div>
                            <div class="meals row">
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="fudcol btn rounded-0">
                                        <img src="~/img/fudsamp.png" class="img-fluid" alt="...">
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>


<div class="cont2 container-fluid p-5">
    <div class="container">
        <div class="sectitle display-4 mb-3">
            GAME GUIDES
        </div>
        <div class="ggrow row">
            <div class="col-lg-2">
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">Game Levels</span>
                        </div>
                    </div>
                </a>
                <div class="ggdescrip text-center fs-5">
                    Higher levels unlock more recipes and customization options.
                </div>
            </div>
            <div class="col-lg-2">
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">Game Tips</span>
                        </div>
                    </div>
                </a>
                <div class="ggdescrip text-center fs-5">
                    Serve quickly for bonus tips!
                </div>
            </div>
            <div class="col-lg-2">
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">NPC Relationships</span>
                        </div>
                    </div>
                </a>
                <div class="ggdescrip text-center fs-5">
                    Frequent buyers or vendors will offer discounts and gifts.
                </div>
            </div>
            <div class="col-lg-2">
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">Token Prizes</span>
                        </div>
                    </div>
                </a>
                <div class="ggdescrip text-center fs-5">
                    Earn tokens to unlock rare ingredients and premium cosmetics.
                </div>
            </div>
        </div>
    </div>
</div>

<<div class="cont3 container-fluid p-5 mb-5">
    <div class="container">
        <div class="sectitle display-4 mb-3">
            TIPS
        </div>
        <div class="tipscontt row rounded-4 overflow-hidden mb-3">
            <div class="tipsimgcont col-md-4 p-4 d-flex align-items-center justify-content-center">
                <img src="~/img/preping.png" class="img-fluid" alt="Alternate Text" />
            </div>
            <div class="tipstxtcont col-md-8 p-4 d-flex flex-column justify-content-center">
                <div class="tipstitle mb-3">
                    Cook before the opening
                </div>
                <div class="tipsdescrip">
                    Pre-craft meals before the kiosk opens
                    to keep customers happy!
                </div>
            </div>
        </div>
        <div class="tipscontt row rounded-4 overflow-hidden mb-3">
            
            <div class="tipstxtcont col-md-8 p-4 d-flex flex-column justify-content-center">
                <div class="tipstitle mb-3">
                    Create a List
                </div>
                <div class="tipsdescrip">
                    Plan which dishes you'll serve and buy
                    ingredients accordingly.
                </div>
            </div>
            <div class="tipsimgcont col-md-4 p-4 d-flex align-items-center justify-content-center">
                <img src="~/img/preping.png" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
